@import "../../main";

.Landing {
  background-color: $blue;
  margin-top: 50px;
  height: 80vh;
  @include flex-row;

  h1 {
    text-align: center;
  }

  .Summit {
    background-color: $green;
  }

  span {
    cursor: pointer;
    text-decoration: underline;
  }

  span:hover {
    color: white;
  }
}
